@page "/basicuserpage"
@inject IShiftRepository repository

<div>
    <Calendar ParentMethod="@SayHello"/>
</div>

<div>
    <WeekGrid/>
</div>

@code{
    private void SayHello()
    {
        Console.WriteLine("Hello.");
    }

}
