@page "/basicuserpage"
@inject ITimesheetRepository repository
@using OpenTimesheets.Shared

<div>
    <Calendar ParentMethod="@CalendarCallbackMethod"/>
</div>

<div>
    <WeekGrid/>
</div>

@code{
    private void CalendarCallbackMethod()
    {
        Console.WriteLine("Hello.");
    }
    /*
    https://docs.microsoft.com/en-us/aspnet/core/blazor/components/event-handling?view=aspnetcore-5.0
    https://dev.to/petermilovcik/blazor-how-to-bind-table-row-data-to-button-click-2l3l
        */
}
