@page "/basicuserpage"
@inject IShiftRepository repository

<div>
    <Calendar OnDateClicked="handleIt"/>
</div>

<div>
    <WeekGrid/>
</div>

@code{
    private void ShowDate(DateTime? SelectedDate)
    {
        Console.WriteLine(SelectedDate.ToString());
    }

    private void handleIt(string it)
    {
        Console.WriteLine(it);
    }
}
