@inject ITimesheetRepository repository
@inject AppState AppState
@using OpenTimesheets.Shared;
@using System.Globalization;
@implements IDisposable;
@inject NavigationManager navManager
@page "/WorkShift"

<h3>WorkShiftForm</h3>

@if (workShiftModel == null)
{
    <div><p>Loading...</p></div>
}
else
{
    <EditForm Model="workShiftModel" OnValidSubmit="SaveShift">
        <DataAnnotationsValidator/>
        <div class="form-group">
            
            <div>
                <label>Start </label> <input type="time"  class="form-control time-control" required @bind="@workShiftModel.ShiftStart"  />
            </div>


            <button class="btn btn-success" type="submit">Save</button>

        </div>

    </EditForm>
}



@code {
    private WorkShift workShiftModel;

    /*
    private TimeSpan _ts1 = TimeSpan.FromHours(0);
    private string ShiftStartTimeProxy
    {
        get => workShiftModel.ShiftStart.ToString();
        set => TimeSpan.TryParse(value, out _ts1);
    }
    */

    void ValidFormSubmitted(EditContext editContext)
    {


    }

    private void SaveShift()
    {
        Console.WriteLine("Shift saved");
        Console.WriteLine(workShiftModel.ToString());
        navManager.NavigateTo("/basicuserpage");
    }

    protected async override Task OnInitializedAsync()
    {
        AppState.StateChanged += async (Source, Property) => await AppState_StateChanged(Source, Property);

        workShiftModel = AppState.SelectedWorkShift;

    }

    private async Task AppState_StateChanged(ComponentBase Source, String Property)
    {
        if (Source != this)
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);

    }


    /*
                <label>End:</label>
            <div>
                <input type="time" class="form-control time-control" required @bind="workShiftModel.ShiftEnd" @bind:format="HH:mm" />
            </div>*/

}


